/* ========== General Styles ========== */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ========== Header Page Styles ========== */

.menu,
.page-address {
  display: none;
}

.mobile-open-btn {
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #2f2f37;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.page-logo2 {
  color: #2e2f42;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: #ffffff;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 72px 24px 40px 16px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 0;
    background-color: transparent;
    padding: 0;
    border: 1px solid #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    background-color: #404bbf;
  }

  .mobile-menu-close-btn:hover .mobile-menu-close-btn-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-btn-icon {
    fill: #ffffff;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .mobile-menu-studio {
    color: #404bbf;
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus,
  .mobile-menu-link:active {
    color: #404bbf;
  }

  .mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-address-link:hover,
  .mobile-address-link:focus {
    color: #404bbf;
  }

  .mobile-address-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mobile-page-nav {
    flex-grow: 1;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-page-address {
    margin-bottom: 48px;
  }

  .mobile-address-link-email {
    color: #404bbf;
  }

  .mobile-svg-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .mobile-svg-item {
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }

  .mobile-svg-link {
    fill: #f4f4fd;
  }

  .mobile-svg-item:hover,
  .mobile-svg-item:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }
  .menu,
  .page-address {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
    column-gap: 120px;
  }

  .menu {
    display: flex;
    margin-left: 0;
    gap: 40px;
  }

  .menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-studio {
    color: #404bbf;
    position: relative;
  }

  .menu-studio::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    color: #404bbf;
  }

  .address-list:not(:last-child) {
    margin-bottom: 12px;
  }

  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .page-address {
    margin-top: 16px;
    margin-bottom: 16px;
    font-style: normal;
  }
}

@media screen and (min-width: 1158px) {
  .page-nav {
    column-gap: 76px;
  }

  .address-list:not(:last-child) {
    margin-bottom: 12px;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========== Main(Hero)Page Styles ========== */

.main-page {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-mobile.jpg);
  max-width: 320px;
  min-height: 432px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  padding: 72px 0;
  margin: 0 auto;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.order-service-btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-tablet.jpg);
    max-width: 768px;
    min-height: 436px;
    padding: 112px 0;
  }

  .main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-desktop.jpg);
    max-width: 1440px;
    min-height: 600px;
    padding: 188px 0;
  }

  .main-header {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-desktop@2x.jpg);
  }
}

/* ========== Advantages Page Styles ========== */

.advantages-box {
  display: none;
}

.advantages-container {
  padding: 96px 16px;
  margin: 0px auto;
}

.advantages-list-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 72px;
}
.advantages-list-text-last {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .advantages-list-header {
    text-align: left;
  }
  .advantages-list-text,
  .advantages-list-text-last {
    width: 356px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .advantages-list-text,
  .advantages-list-text-last {
    font-weight: 400;
    width: 264px;
  }
  .advantages-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages-container {
    padding: 0;
    margin: 120px auto;
  }
}

/* ========== Our Team Page Styles ========== */

.our-team-page {
  background: #f4f4fd;
}

.our-team-container {
  padding: 96px 28px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
}

.our-team-item:not(:last-child) {
  margin-bottom: 72px;
}

.our-team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
  margin: 0 auto;
}

.our-team-container-text {
  padding: 32px 16px;
}

.our-team-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #434455;
}

.our-team-svg-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-svg-link {
  width: 100%;
  height: 100%;
  color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-svg-item {
  width: 40px;
  height: 40px;
}

.our-team-icon {
  fill: #f4f4fd;
}

.our-team-svg-link:hover,
.our-team-svg-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .our-team-item {
    margin: 0;
  }

  .our-team-item:not(:last-child) {
    margin-bottom: 0;
  }
  .our-team-container {
    padding: 96px 108px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team-list {
    flex-wrap: nowrap;
  }
  .our-team-container {
    padding: 120px 0px;
  }
}

/* ========== Portfolio Page Styles========== */

.portfolio-container {
  margin: 96px auto;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-container-text {
  width: 288px;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}

.portfolio-overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translatey(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .portfolio-container-text {
    width: 356px;
  }
  .portfolio-box {
    width: 356px;
    height: 300px;
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-container-text {
    width: 360px;
  }
  .portfolio-box {
    width: 360px;
    height: 300px;
  }
  .portfolio-item {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* ========== Footer Page Styles ========== */

.page-footer {
  background: #2e2f42;
}

.footer-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  padding: 96px 16px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  color: #4d5ae5;
}

.footer-logoo {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-containerr {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social-media-text {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-svg-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-svg-item {
  width: 40px;
  height: 40px;
}

.footer-svg-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-link:hover,
.footer-svg-link:focus {
  background-color: #31d0aa;
}

.footer-telegram-icon,
.footer-icon {
  fill: #f4f4fd;
}

.footer-container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.footer-subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid #ffffff;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-input:focus {
  border-color: #4d5ae5;
}

.footer-email-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  border-radius: 4px;
  border: none;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-btn:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .footer-main-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 96px 164px 96px 108px;
  }
  .footer-logo {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .footer-text {
    width: 264px;
  }
  .footer-social-media-text {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .footer-subscribe-text {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .footer-subscribe-form {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .footer-subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-main-container {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 100px 15px;
    gap: 0px;
  }
  .footer-containerr {
    margin-right: 80px;
    margin-left: 120px;
  }
  .footer-container-form {
    justify-content: flex-start;
    gap: 16px;
  }
}

/* ========== Modal Page Styles ========== */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  margin: 0 auto;
  padding: 72px 24px 24px 24px;
}

.exit-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;

  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-btn:hover,
.exit-btn:focus {
  border: none;
  background-color: #404bbf;
}

.exit-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-btn:hover .exit-icon,
.exit-btn:focus .exit-icon {
  fill: #ffffff;
}

.call-back-title-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.call-back-form-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.input-comment-container {
  margin-bottom: 16px;
}

.call-back-form-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-comment:focus {
  border-color: #4d5ae5;
}

.call-back-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-input:focus {
  border-color: #4d5ae5;
}

.call-back-form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.privacy-policy-container {
  margin-bottom: 24px;
}

.privacy-policy-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  background-color: none;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-checkbox:checked
  + .call-back-form-checkbox-label
  .privacy-policy-checkbox-span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.call-back-form-checkbox-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-btn {
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;

  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
}

.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
